
body {
    font-family: sans-serif Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}



.kitchen {
    background-color: #f0f8ff; /* Fondo azul claro */ 
    border: 2px solid #add8e6; /* Borde azul claro */
    padding: 15px;
    margin-bottom: 20px; 
}
